.container {
    display: flex;
    cursor: pointer;
    flex-direction: column; 
    justify-content: flex-end;
    gap: 15px; 
    width: 20%;
    padding: 20px;
}

.block {
    margin-top: 10%;
    margin-left: 20%;
    background-color: #1367abc3; 
    color: white; 
    padding: 20px;
    text-align: center;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    font-weight: bold;
}

.block:hover {
    background-color: rgb(23, 124, 179);
}
